<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="CyberCenter.ClientServices">
                <endpoint address="" binding="basicHttpBinding" contract="CyberCenter.IClientServices">
                    <identity>
                        <dns value="127.0.0.1" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://127.0.0.1:8733/Design_Time_Addresses/CyberCenter/ClientServices/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <connectionStrings>
        <add name="DuComLab" connectionString="Data Source=DuComLab\DuComLabDB;Initial Catalog=DuComLabDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
