@{
    ViewBag.Title = "RefreshAll";
}
<br />
<br />
<br />
<br />
<br />
<h2 align="center" style="color:darkgreen">Successfully refreshed active users' list</h2>
<style>
    h2, h6, div {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
