@{
    ViewBag.Title = "RefreshParticularCard";
}

<br />
<br />
<br />
<br />
<br />
<br />
<h2 align="center" style="color:darkgreen">The Card is successfully removed from the active user list</h2>

<style>
    h2, h6, div {
        font-family: 'Times New Roman', Times, serif;
    }
</style>