<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BascisHttp" maxReceivedMessageSize="1000000" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="1000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="CyberCenter.ClientServices" behaviorConfiguration="mexBehavior">
        <endpoint address="CyberCenter" binding="basicHttpBinding" bindingConfiguration="BascisHttp" contract="CyberCenter.IClientServices"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8733"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="DuComLab" connectionString="Data Source=DuComLab\DuComLabDB;Initial Catalog=DuComLabDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>