<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClientServices" maxReceivedMessageSize="1000000" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="1000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8733/CyberCenterClientWCFServices/Service.svc/CyberCenter" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientServices" contract="CyberCenterServices.IClientServices" name="BasicHttpBinding_IClientServices"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
