<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BascisHttp" maxReceivedMessageSize="1000000"  messageEncoding="Mtom">
          <readerQuotas maxArrayLength="1000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="CyberCenter.ClientServices" behaviorConfiguration="mexBehavior">
        <endpoint address="CyberCenter" binding="basicHttpBinding" bindingConfiguration="BascisHttp" contract="CyberCenter.IClientServices">
        </endpoint>
        <endpoint address="CyberCenter" binding="netTcpBinding" contract="CyberCenter.IClientServices">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8733" />
            <add baseAddress="net.tcp://127.0.0.1:8090" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>